@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

body {
    background-color: v.$bg-primary;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
}
