$font-base: "Inter", sans-serif;

$bg: #e27125;
$bg-gradient: linear-gradient(
    90deg,
    rgba(226, 113, 37, 1) 100%,
    rgba(124, 62, 20, 0.13) 100%
);
$bg-primary: #1e1e1e;
$bg-secondary: #19191b;
$text-primary: #fbd6c1;
$text-secondary: #fbd6c180;

// Typography

$font-sm: 1.4rem;
$font-md: 1.6rem;
$font-weight: 400;
